@tailwind base;
@tailwind components;
@tailwind utilities;

/* Header.css */
.dropdown-menu {
  display: none;
  position: absolute;
  top: calc(100% + 5px);
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  padding: 5px;
  border: 1px solid #ccc;
  z-index: 50;
}

.arrow-icon {
  cursor: pointer;
}

.arrow-icon:hover + .dropdown-menu,
.dropdown-menu:hover {
  display: block;
  animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
